node_modules
vendor/*
.env

storage/app/public/installed
!storage/framework/cache/data
storage/framework/cache/data/*
!storage/framework/sessions
storage/framework/sessions/*
!storage/framework/views
storage/framework/views/*
!storage/logs
storage/logs/*
storage/oauth-private.key
storage/oauth-public.key

public/images/*.png
!public/images/974811033.png
!public/images/background_invoice.jpg
!public/images/favicon.ico
!public/images/logo-2.png
!public/images/logo-3.png
!public/images/logo-default.png
!public/images/logo.png
!public/images/no-image.png
!public/images/page-bg-bottom.png
!public/images/photo-long-3.jpg
!public/images/photo-wide-4.jpg
!public/images/photo-wide-5.jpeg
!public/images/speaker-1.jpg
!public/images/weather-2.jpg


public/images/avatar/*
public/images/brands/*
public/images/leaves/*
public/images/products/*
!public/images/avatar/no_avatar.png
!public/images/brands/no-image.png
!public/images/leaves/no-image.png
!public/images/products/no-image.png
